{% extends "base.html.twig" %}

{% block title %}
    C'est cassé | {{ parent() }}
{% endblock %}

{% block body %}

    <h1>C'est cassé</h1>

    <p>Une erreur s'est produite...</p>

{% endblock %}


