{% extends "base.html.twig" %}

{% block title %}
    Page introuvable | {{ parent() }}
{% endblock %}

{% block body %}
    <div style="background-image: url('{{ asset('images/Image403.gif') }}'); height: 100vh; width: 60%; background-size: cover;">

    </div>
{% endblock %}

