
<div class="sortie">
    {{ form_start(form) }}
    {{ form_widget(form) }}

</div>
<div class="mt-4">

    <button class="btn btn-primary mr-3">{{ button_label|default('Save') }}</button>

    {{ form_end(form) }}

</div>


