{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1 class="titre"><strong>Modifier profil</strong></h1>
    <div class="text-danger">
        {% for flashMessage in app.flashes('erreurMdp') %}

                {{ flashMessage }}

        {% endfor %}
    </div>

    {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}

{% endblock %}
